@for (filter of filters(); track filter.uniqueKey; let j = $index) {

  @if (settingsButtons()[filter.uniqueKey].toggled) {

  <div
    class="filter-container"
    @filterItemAppear
  >
    <label class="workbench-filter-label" [for]="filter.uniqueKey" [title]="settingsButtons()[filter.uniqueKey].moreInfo | translate">
      <app-icon [icon]="settingsButtons()[filter.uniqueKey].iconName" [size]="13" />
      {{ filter.placeholder | translate }}
    </label>
    <input
      id="{{ filter.uniqueKey }}"
      (keyup.enter)="onEnterKey.emit({ word: filter.string, index: j })"
      (keydown.backspace)="onBackspace.emit({ word: filter.string, index: j })"
      (keydown.escape)="filter.string = ''"
      [(ngModel)]="filter.string"
      (keydown.Tab)="handleTabPress($event, isManualTagSearch(filter.uniqueKey), j, filter.string)"
      (ngModelChange)="handleInputChange($event, isManualTagSearch(filter.uniqueKey))"
      (focus)="handleInputChange(filter.string, isManualTagSearch(filter.uniqueKey))"
      class="filter-general input-filter"
      placeholder="{{ 'WORKBENCH.enterSearchTerm' | translate }}"
      type="text"
    >

    @if (isManualTagSearch(filter.uniqueKey) && filter.string !== '' && tagTypeAhead()) {
      <span
        class="tag-type-ahead-on-home"
      ><span>{{ tagTypeAhead() }}</span><kbd>{{ 'WORKBENCH.tabToUse' | translate }}</kbd></span>
    }

    <div class="filtered-words">

    @if (filter.array.length > 0) {

      @for (string of filter.array; track string; let i = $index) {

        @if (i > 0) {
          <span
            class="conjunction"
          >
            {{ filter.conjunction | translate }}
          </span>
        }

          <button type="button"
            [attr.aria-label]="('WORKBENCH.removeFilter' | translate) + ': ' + string"
            (click)="removeThisFilter.emit({ item: i, origin: j })"
            [ngStyle]="{
              background: filter.color,
              color: getContrastColor(filter.color)
            }"
            class="search-or-tag-general search-word"
          >
            {{ string }} <span aria-hidden="true">×</span>
          </button>
      }

    }

    </div>

  </div>

  }

}
