@use "../variables.scss";

.most-similar-tray {
  .most-similar-comment {
    color: var(--app-text-secondary);
    display: inline-block;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 20px;
    min-width: 170px;
    vertical-align: top;
    width: 170px;
  }

  .most-similar-filename {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    // above all needed together for line-clamp

    font-size: 14px;
    color: var(--app-text-primary);
    margin-top: 15px;
  }
}

.more {
  color: var(--app-text-secondary);
  position: absolute;
  bottom: 6px;
  right: 6px;
  cursor: pointer;
  font-size: 10px;

  &:hover {
    color: var(--app-accent-text);
  }
}
