<div class="rename-form" [class.rename-dark]="darkMode()" [attr.aria-busy]="nodeRenamingFile">
  <label for="rename-file-name">{{ 'WORKBENCH.newFilename' | translate }}</label>
  <div class="rename-input-group">
    <input
      id="rename-file-name"
      #renameFileInput
      cdkFocusInitial
      (keyup.enter)="!nodeRenamingFile && renamingWIP.length > 0 && (renamingWIP + '.' + renamingExtension) !== currentRightClickedItem().fileName && attemptToRename()"
      [(ngModel)]="renamingWIP"
      [disabled]="nodeRenamingFile"
      [attr.aria-invalid]="renameErrMsg !== ''"
      [attr.aria-describedby]="renameErrMsg !== '' ? 'rename-file-error' : null"
      class="rename-file"
      type="text"
      autocomplete="off"
      spellcheck="false"
    >
    <span class="rename-extension">.{{ renamingExtension }}</span>
  </div>

  @if (renameErrMsg !== '') {
    <p id="rename-file-error" class="rename-err-msg" role="alert">
      {{ renameErrMsg | translate }}
    </p>
  }

  <div class="rename-actions">
    <span class="rename-status" role="status">
      @if (nodeRenamingFile) {
        {{ 'WORKBENCH.renamingFile' | translate }}
      }
    </span>
    <button
      type="button"
      [disabled]="(renamingWIP + '.' + renamingExtension) === currentRightClickedItem().fileName
        || nodeRenamingFile
        || renamingWIP.length === 0"
      class="wizard-button button-rename"
      (click)="attemptToRename()"
    >
      {{ 'RIGHTCLICK.renameButton' | translate }}
    </button>
  </div>
</div>
